<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tech is Berlin: All the relevant tech events in Berlin</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
  </head>
  <body>
    <h1>Berlin Tech events</h1>
    <p>Subscribe to the <a href="https://techisb.de/techisb.ics">calendar feed</a>.
    <ul class="list-group">
      {% for event in events %}
      <li class="list-group-item "><a href="{{ event.url }}">
              <a href="ics/{{ event.eventnumber }}.ics"><img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/calendar.svg" alt="Add to calendar">
                <small class="text-muted">
                  {% if event.is_today %}
                    Today at {{ event.time }}
                  {% else %}
                    {% if event.is_tomorrow %}
                      Tomorrow at {{ event.time }}
                    {% else %}
                      {{ event.date }} {{ event.time }}
                    {% endif %}
                  {% endif %}
                </small>
              </a>
          <div class="d-flex w-100 justify-content-between">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/broadcast.svg" alt="Event title"> <h5 class="mb-1">{{ event.name }}</h5>
          </div>
        </a>
        <p class="mb-1">
          <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/organization.svg" alt="Event organizer">{{ event.organizer }}
          {% if event.venue %}
          <br /><img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/location.svg" alt="Event location"><a href="https://maps.google.com/?q={{ event.venue.lat }},{{ event.venue.lon }}">{{event.venue.name}}, {{ event.venue.address }}</a>
          {% endif %}
        </p>
      {% endfor %}
    </ul>
    <p><a href="faq.html#contribute">How to get my events listed</a> and <a href="faq.html#idea">why are we doing this?</a>
    <p>Site generated {{ now }}.</p>
    <p>Copyright &copy; 2018 by Nils Magnus and Dirk Gomez. <a href="faq.html#contact">Impressum.</a>
  </body>
</html>
