<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if is_berlin %}
    <title>Tech is Berlin: All the relevant tech events in Berlin</title>
    {% else %}
    <title>Tech is Munich: All the relevant tech events in Munich</title>
    {% endif %}
    <style>{% include 'templates/mobile.css' %}</style>
  </head>
  <body>
    {% if is_berlin %}
    <h1>Berlin Tech events</h1>
    <h1>Tech is Berlin</h1>
    <p>Subscribe to the <a href="techisb.ics">calendar feed</a>.</p>
    {% else %}
    <h1>Tech is Munich</h1>
    <p>Subscribe to the <a href="techism.ics">calendar feed</a>.</p>
    {% endif %}
    <ul class="list-group">
      {% for event in events %}
      <li class="list-group-item "><a href="{{ event.url }}">
              <a href="ics/{{ event.eventnumber }}.ics"><img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/calendar.svg" alt="Add to calendar">
                <small class="text-muted">
                  {% if event.is_today %}Today at {{ event.time }}{% else %}{% if event.is_tomorrow %}Tomorrow at {{ event.time }}{% else %}{{ event.date }} {{ event.time }}{% endif %}{% endif %}, {{ event.week_day }}
                </small>
              </a>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><a href="{{ event.url }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/broadcast.svg" alt="Event title"> {{ event.name }}</a></h5>
          </div>
        </a>
        <p class="mb-1">
          <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/organization.svg" alt="Event organizer"> {{ event.organizer }}
          {% if event.venue %}
          <br /><img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/location.svg" alt="Event location"> <a href="https://maps.google.com/?q={{ event.venue.lat }},{{ event.venue.lon }}">{{event.venue.name}}, {{ event.venue.address }}</a>
          {% endif %}
        </p>
      {% endfor %}
    </ul>
    <p><a href="faq.html#contribute">How to get my events listed</a> and <a href="faq.html#idea">why are we doing this?</a>
    <p>Site generated {{ now }}.</p>
    <p>Copyright &copy; 2018 by Nils Magnus and Dirk Gomez. <a href="faq.html#contact">Impressum.</a>
  </body>
</html>
